body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
    margin: 0px;
    background: #231f20;

    .view {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100vh;
        border-radius: 10px;
        transition: opacity 0.3s ease;

        &__loader {
            position: relative;
            box-sizing: border-box;
            border: 16px solid #f7f7f7;
            border-top: 16px solid #231f20;
            border-radius: 50%;
            width: 15%;
            animation: spin 0.6s linear infinite;
            transition: 0.3s;
            opacity: 1;
        }

        &__loader:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &__cover {
            transition: 0.3s;
            opacity: 0;
        }

        .back {

            &__vert-pattern,
            &__circle-pattern,
            &__text-pattern,
            &__trees {
                position: absolute;
            }

            &__vert-pattern {
                width: 23%;
                top: -21%;
                left: 7%;
                opacity: 0.439;
            }

            &__circle-pattern {
                animation: spin 25s linear infinite;
                width: 26.3%;
                top: 39.5%;
                left: 53.3%;
            }

            &__text-pattern {
                width: 41.4%;
                height: 99%;
                top: -8.2%;
                left: 72.5%;
            }

            &__trees {
                width: 79.1%;
                height: 24.7%;
                top: 63.1%;
                left: -5.6%;
            }
        }

        .peacock {

            &__paws,
            &__tail,
            &__body {
                position: absolute;
            }

            &__paws {
                width: 3.215%;
                top: 66%;
                left: 26.4%;
            }

            &__tail {
                animation: peacock-wag 2s linear infinite;
                transform-origin: 100% 0;
                width: 10.18%;
                top: 62%;
                left: 16%;
            }

            &__body {
                width: 18.7%;
                top: 45.5%;
                left: 16%;
            }
        }

        .monastery {
            &__photo {
                position: absolute;
                width: 100.1%;
                top: 10.5%;
                left: 0px;
            }
        }

        .title {

            &__name,
            &__wind-bird-1,
            &__body-bird-1,
            &__head-bird-2,
            &__body-bird-2 {
                position: absolute;
            }

            &__name {
                width: 32.9%;
                top: 6.1%;
                left: 33.7%;
            }

            &__wind-bird-1 {
                animation: title-bird-wag 2s linear infinite;
                transform-origin: 100% 0;
                width: 1.43%;
                top: 21.5%;
                left: 34.4%;
            }

            &__body-bird-1 {
                width: 4.93%;
                top: 19.5%;
                left: 35%;
            }

            &__head-bird-2 {
                animation: title-bird-nodding 2s linear infinite;
                transform-origin: 0 50%;
                width: 1.3%;
                top: 21.6%;
                left: 64.3%;
            }

            &__body-bird-2 {
                width: 5.18%;
                top: 21.7%;
                left: 59.9%;
            }
        }

        .nav {

            &__map,
            &__history,
            &__galary,
            &__about {
                position: absolute;
                transition: filter, transform 0.25s ease;
                filter: brightness(79%) sepia(60%) hue-rotate(0deg) saturate(280%);
            }

            &__map {
                top: 10.6%;
                width: 4%;
                left: 16.1%;
            }

            &__history {
                top: 22.9%;
                width: 5.1%;
                left: 15.7%;
            }

            &__galary {
                top: 36%;
                width: 4%;
                left: 16.2%;
            }

            &__about {
                top: 47.4%;
                left: 15.8%;
                width: 5.2%;
            }

            a:focus img,
            a:hover img {
                cursor: pointer;
                outline: none;
                transform: scale(1.1, 1.1);
                filter: none;
            }
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes peacock-wag {
    0% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(3deg);
    }
}

@keyframes title-bird-wag {
    0% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}

@keyframes title-bird-nodding {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}