body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
    margin: 0px;
    background: #231f20;

    .view {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100vh;
        border-radius: 10px;
        transition: opacity 0.3s ease;

        &__loader {
            position: relative;
            box-sizing: border-box;
            border: 16px solid #f7f7f7;
            border-top: 16px solid #231f20;
            border-radius: 50%;
            width: 15%;
            animation: spin 0.6s linear infinite;
            transition: 0.3s;
            opacity: 1;
        }

        &__loader:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &__cover {
            transition: 0.3s;
            opacity: 0;
        }

        .nav {

            &__back {
                position: absolute;
                z-index: 2;
                transition: filter, transform 0.25s ease;
                filter: brightness(79%) sepia(60%) hue-rotate(0deg) saturate(280%);
            }

            &__back {
                width: 4.9%;
                top: 7%;
                left: 19.6%;
            }

            a:focus img,
            a:hover img {
                cursor: pointer;
                transform: scale(1.1, 1.1);
                filter: none;
            }
        }

        .cover {

            .header {
                position: absolute;
                top: 0%;
                left: 0%;
                right: 0%;
                display: flex;
                height: 31em;
                justify-content: center;
                padding-top: 2%;
                padding-bottom: 2%;
                box-shadow: 0 0 1em #333;
                background: #d4b034;
                z-index: 1;

                .gallery {
                    position: absolute;
                    top: 0px;
                    left: 27em;
                    width: 53em;
                    height: 35.4em;
                    margin: 0 auto;

                    .simplebar-content {
                        display: flex;
                        justify-content: center !important;
                        margin: 0px !important;

                        a {
                            margin: 0px !important;
                        }
                    }
                }

                a {
                    margin-left: 5em;

                    img {
                        position: relative;
                        height: 27em;
                        margin: 3.5em auto 0em;
                        box-shadow: 0.3em 0.2em 0.3em 0px #5a565670;
                        border-radius: .5em;
                        cursor: pointer;
                    }
                }

                .points {
                    position: absolute;
                    display: flex;
                    bottom: 2.0em;

                    div {
                        width: 0.7em;
                        height: 0.7em;
                        background: #5a565670;
                        border-radius: 50%;
                        margin: 0px .7em;

                        &.active {
                            background: #333 !important;
                        }
                    }
                }
            }

            .content {
                position: absolute;
                left: 28%;
                right: 26%;
                top: 61%;
                border-radius: 0 0 0.5em 0.5em;
                padding: 3em;            

                .title {
                    text-align: center;
                    font-size: 2em;
                    font-family: 'RomulC';
                }

                .text {
                    margin-top: 2em;
                    font-size: 1.1em;
                    line-height: 1.4em;
                }
            }
        }
    }
}

@font-face {
    font-family: RomulC;
    src: url('/fonts/RomulC.ttf');
}