body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
    margin: 0px;
    background: #231f20;

    .view {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100vh;
        border-radius: 10px;
        transition: opacity 0.3s ease;

        &__loader {
            position: relative;
            box-sizing: border-box;
            border: 16px solid #f7f7f7;
            border-top: 16px solid #231f20;
            border-radius: 50%;
            width: 15%;
            animation: spin 0.6s linear infinite;
            transition: 0.3s;
            opacity: 1;
        }

        &__loader:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &__cover {
            transition: 0.3s;
            opacity: 0;
        }

        .nav {

            &__back {
                position: absolute;
                transition: filter, transform 0.25s ease;
                filter: brightness(79%) sepia(60%) hue-rotate(0deg) saturate(280%);
            }

            &__back {
                width: 4.9%;
                top: 7%;
                left: 19.6%;
            }

            a:focus img,
            a:hover img {
                cursor: pointer;
                transform: scale(1.1, 1.1);
                filter: none;
            }
        }

        .cover {
            &__title {
                position: absolute;
                top: 9%;
                font-size: 2.4em;
                font-weight: 600;
                left: 48%;
            }
            
            &__gallery {
                position: absolute;
                top: 27%;
                left: 30%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 1em 4em;

                a {
                    img {
                        width: 8em;
                        height: 8em;
                        border-radius: 1em;
                        background: #212121;
                    }
                }
            }
        }
    }
}