body {
    margin: 0px;
    background: #231F20;

    .view {
        position: relative;
        background: #f7d04e;
        overflow: hidden;
        box-shadow: 0 0 100px 10px #0d0d0dde;
        border-radius: 10px;

        &__loader {
            position: absolute;
            border: 16px solid #f7f7f7;
            border-top: 16px solid #0d0d0dde;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 1s linear infinite;
            transition: .3s;
            opacity: 1;
        }

        &__cover {
            transition: .3s;
            opacity: 0;
        }

        .back {
            &__vert-pattern {
                position: absolute;
                opacity: 0.439;
            }

            &__circle-pattern,
            &__text-pattern,
            &__trees {
                position: absolute;
            }

            &__circle-pattern {
                animation: spin 15s linear infinite;
            }
        }

        .peacock {

            &__paws,
            &__tail,
            &__body {
                position: absolute;
            }

            &__tail {
                animation: peacock-wag 1s linear infinite;
                transform-origin: 100% 0;
            }
        }

        .monastery {
            &__photo {
                position: absolute;
            }
        }

        .title {

            &__name,
            &__wind-bird-1,
            &__body-bird-1,
            &__head-bird-2,
            &__body-bird-2 {
                position: absolute;
            }

            &__wind-bird-1 {
                animation: title-bird-wag 1.5s linear infinite;
                transform-origin: 100% 0;
            }

            &__head-bird-2 {
                animation: title-bird-nodding 2s linear infinite;
                transform-origin: 0 50%;
            }
        }

        .nav {

            &__map,
            &__history,
            &__galary,
            &__about {
                position: absolute;
                transition: filter, transform .25s ease;
            }

            &__map {
                top: 10.6%;
                width: 4.0%;
                left: 16.1%;
            }

            &__history {
                top: 22.9%;
                width: 5.1%;
                left: 15.7%;
            }

            &__galary {
                top: 36%;
                width: 4%;
                left: 16.2%;
            }

            &__about {
                top: 47.4%;
                left: 15.8%;
                width: 5.2%;
            }

            a:focus img,
            a:hover img {
                cursor: pointer;
                outline: none;
                transform: scale(1.1, 1.1);
                filter: brightness(80%) sepia(30%) hue-rotate(40deg) saturate(278%);
            }
        }
    }

}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes peacock-wag {
    0% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(3deg);
    }
}

@keyframes title-bird-wag {
    0% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}

@keyframes title-bird-nodding {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}