body {
    margin: 0px;
    background: #fee26c;

    .view {
        position: relative;
        background: #f7d04e;
        overflow: hidden;
        box-shadow: 0 0 100px 10px #0d0d0dde;    

        &__loader {
            position: absolute;
            border: 16px solid #f7f7f7;
            border-top: 16px solid #0d0d0dde;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 1s linear infinite;
            transition: .3s;
            opacity: 1;
        }

        &__cover {
            transition: .3s;
            opacity: 0;
        }

        .background {
            &__vert-pattern,
            &__cloud, 
            &__forest,
            &__trees {
                position: absolute;
            }
            &__vert-pattern{
                opacity: 0.439;
            }
        }

        .monastery {
            &__map {
                position: absolute;
            }
        }

        .decoration {
            &__cow,
            &__fishermen,
            &__monarchs,
            &__pahari,
            &__ship,
            &__ship-monarchs {
                position: absolute;
            }
        }

        .nav {
            &__back, 
            &__magnifier {
                position: absolute;
                cursor: pointer;
            }
        }
    }
}

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}