body {
    margin: 0px;
    background: #231F20;

    img {
        transition: filter .5s;
    }

    .view {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f7d04e;
        overflow: hidden;
        box-shadow: 0 0 100px 10px #0d0d0dde;
        border-radius: 10px;

        &__loader {
            position: relative;
            box-sizing: border-box;
            border: 16px solid #f7f7f7;
            border-top: 16px solid #231F20;
            border-radius: 50%;
            width: 15%;
            animation: spin .8s linear infinite;
            transition: .3s;
            opacity: 1;
        }

        &__loader:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &__cover {
            transition: .3s;
            opacity: 0;
        }

        .unactive {
            filter: hue-rotate(-70deg) grayscale(0.8);
        }

        .background {

            &__vert-pattern,
            &__cloud,
            &__forest,
            &__trees {
                position: absolute;
            }

            &__vert-pattern {
                opacity: 0.439;
            }
        }

        .monastery {
            &__map {
                position: absolute;
            }
        }

        .decoration {

            &__cow,
            &__fishermen,
            &__monarchs,
            &__pahari,
            &__ship,
            &__ship-monarchs {
                position: absolute;
            }

            &__fishermen {
                transition: .1s;
                animation: rockBoat 3s linear infinite alternate;
            }

            &__pahari {
                transition: .1s;
                animation: movePahari 30s linear infinite;
            }

            &__ship {
                transition: .1s;
                animation: moveShip 40s linear infinite;
            }
        }

        .buildings {

            a:focus img,
            a:hover img {
                cursor: pointer;
                filter: drop-shadow(5px 5px 10px #fff);
            }

            &__0 {
                position: absolute;
                transition: filter .2s ease;
            }
        }

        .nav {

            &__back,
            &__magnifier {
                position: absolute;
                transition: filter, transform .25s ease;
            }

            &__back {
                width: 4.9%;
                top: 5%;
                left: 19.6%;
            }

            &__magnifier {
                width: 4.4%;
                top: 15.9%;
                left: 19.95%;
            }

            a:focus img,
            a:hover img {
                cursor: pointer;
                transform: scale(1.1, 1.1);
                filter: brightness(80%) sepia(30%) hue-rotate(40deg) saturate(278%);
            }
        }

        .popup {
            transition: opacity .5s;

            &--open {
                animation: openPopup 1s ease;
                animation-fill-mode: forwards;
            }

            &--close {
                display: none;
                opacity: 0;
            }

            &__build-info {
                position: absolute;
                height: 100%;
                width: 45%;
                right: 0px;
                top: 0px;
                background: #290521e0;
            }

            &__close {
                position: absolute;
                height: 100%;
                width: 55%;
                left: 0px;
                top: 0px;
                cursor: pointer;
            }
        }

    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rockBoat {
    0% {
        top: 81%;
        left: 36%;
    }

    25% {
        top: 81.5%;
        left: 35.5%;
    }

    50% {
        top: 82%;
        left: 36%;
    }

    75% {
        top: 81.5%;
        left: 36.5%;
    }

    100% {
        top: 81%;
        left: 36%;
    }
}

@keyframes moveShip {
    0% {
        top: 83%;
        left: 100%;
        transform: scale(1, 1);
    }

    25% {
        top: 83%;
        left: 100%;
        transform: scale(1, 1);
    }

    35% {
        top: 83%;
    }

    45% {
        top: 80%;
    }

    50% {
        top: 80%;
        left: -20%;
        transform: scale(1, 1);
    }

    75% {
        top: 80%;
        left: -20%;
        transform: scale(-1, 1);
    }

    80% {
        top: 80%;
    }

    90% {
        top: 83%;
    }

    100% {
        left: 100%;
        transform: scale(-1, 1);
    }
}

@keyframes movePahari {
    0% {
        top: 64%;
        left: 20%;
        transform: scale(1, 1) rotate(0deg);
    }

    15% {
        top: 64%;
        left: 20%;
        transform: scale(1, 1);
    }

    25% {
        top: 77%;
        left: 8%;
        transform: scale(1, 1) rotate(0deg);
    }

    30% {
        top: 77%;
        left: 8%;
        transform: scale(-1, 1) rotate(8deg);
    }

    85% {
        top: 77%;
        left: 8%;
        transform: scale(-1, 1) rotate(8deg);
    }

    95% {
        top: 64%;
        left: 20%;
        transform: scale(-1, 1) rotate(8deg);
    }

    100% {
        transform: scale(1, 1) rotate(0deg);
    }
}

@keyframes openPopup {
    0% {
        display: block;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes closePopup {
    0% {
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}